<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
	 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>
<body>

 <h1 th:text="${myvar}"/>
 
 <table class="table">
  <thead>
    <tr>
      <th scope="col">ProdId</th>
      <th scope="col">Prod Name</th>
      <th scope="col">Prod Desc</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="p:  ${prodlist}">
      <td th:text="${p.prodId}">
      <td th:text="${p.prodName}">
      <td th:text="${p.prodDesc}">
    </tr>
  </tbody>
</body>
</html>